
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.toc
*.toc
B 2.2/B 2.2.toc
*.aux
*.log
*.gz
*.toc
B1.4/protokoll.aux
B1.4/protokoll.log
B1.4/protokoll.synctex.gz
B1.4/protokoll.toc
*.fdb_latexmk
*.log
*.gz
*.toc
